.informBoxBoarder{
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top: solid 2px;
  width: 300px;
  border-color: cornflowerblue;
}

.Meat{
  color: darksalmon;

  margin-bottom: 10px;
}

.veg{
  color: green;

  margin-bottom: 10px;
}

.btn{
  width:100%;
}

.control{
  display: flex;
  justify-content: center;
  position: relative;

}
.rst{
  display: flex;
  justify-content: center;
  margin: 12px;
  color: lightcoral;
  font-size: large;
}

.title{
  display: flex;
  justify-content: center;
  color: cornflowerblue;
}
