<div class="row">
  <div class="col col-lg-3 title">
    Protein:
  </div>

  <div class="col col-lg-3 Meat">
    <button type="button" class="btn btn-info" (click)="pickMeat(meats[0])">{{ meats[0] }}</button>
  </div>

  <div class="col col-lg-3 Meat">
    <button type="button" class="btn btn-info" (click)="pickMeat(meats[1])">{{ meats[1] }}</button>
  </div>

  <div class="col col-lg-3 Meat">
    <button type="button" class="btn btn-info" (click)="pickMeat(meats[2])">{{ meats[2] }}</button>
  </div>
</div>

<div class="row">
  <div class="col col-lg-3 title">
    Veggie:
  </div>

  <div class="col col-lg-3 veg">
    <button type="button" class="btn btn-success" (click)="pickVeggie(veggies[0])">{{veggies[0]}}</button>
  </div>

  <div class="col col-lg-3 veg">
    <button type="button" class="btn btn-success" (click)="pickVeggie(veggies[1])">{{veggies[1]}}</button>
  </div>

  <div class="col col-lg-3 veg">
    <button type="button" class="btn btn-success" (click)="pickVeggie(veggies[2])">{{veggies[2]}}</button>
  </div>
</div>

<div class="row">
  <div class="col col-lg-3 title">
    Your Choice:
  </div>
  <div *ngIf="meat_status" class="col col-lg-3 Meat">
    <button type="button" class="btn btn-info">{{meat_choice}}</button>
  </div>
  <div *ngIf="veggie_status" class="col col-lg-3 veg">
    <button type="button" class="btn btn-success">{{veggie_choice}}</button>
  </div>
</div>

<div class="row control">
  <div class="col col-md-3">
    <button type="button" class="btn btn-secondary" (click)="checkOrder()">Order</button>
  </div>
  <div class="col col-md-3 ">
    <button type="button" class="btn btn-danger" (click)="restart()">Restart</button>
  </div>
</div>

<div *ngIf="success" class="rst">
  You order {{dish_name}} !
</div>

<div *ngIf="fail" class="rst">
  Wrong ingredients !
</div>
